# Environment
DEV="true" # or "false" in production
BASE_URL="http://localhost:3000" # or "https://example.com" in production

# Supabase
SUPABASE_URL="xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
SUPABASE_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# OpenAI
OPENAI_API_KEY="sk-xxxxxxxxxxx"

# Prisma
DATABASE_URL="postgres://postgres:xxxxxxx@db.rrvrwuggttedpzhopbop.supabase.co:6543/postgres"

# Google Maps
GOOGLE_MAPS_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Mapbox
MAPBOX_ACCESS_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxx"